@charset "Utf-8";

@font-face {
    font-family: 'Roboto';
    src: url('.fonts/roboto-v30-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-v30-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 200px;
    background-color: black;
    flex-wrap: wrap;
}

h2{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}
button{
    background-color: #3882F6;
    color: white;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 5px;
}
/* Header */

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 10px 70px;
    flex-wrap: wrap;
}

.logo{
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
}

ul{
    list-style-type: none;
    display: flex;
}

a{
    margin: 0px 10px;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

/* Hero */

.hero {
    background-color: #1F2937;
    padding: 70px;
    display: flex;
    justify-content: space-between;
    gap:100px;
}

.image{
    width: 50%;
    height: auto;
}

img{
    width: auto;
    height: 200px;
}

.hero .signin p{
    font-size: 11px;
    color: #E5E7EB;
}

.hero button{
    margin-top: 10px;
}

/* Content */

.content-title{
    font-size: 26px;
    text-align: center;
    background-color: white;
    color: #1F2937;
    font-weight: 900;
    padding: 30px;
}
.squares{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 200px 70px 200px;
    gap: 20px;

}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p{
    margin-top: 5px;
    text-align: center;
    font-size: 10px;
    color: rgb(133, 132, 132);

}

.card img{
    border: 2px solid #3882F6;
    border-radius: 15px;
    height: 100px;
}

.quotes{
    background-color: #E5E7EB;
    padding:90px 200px;
    font-size: 26px;
    color: #4b535e;
    font-weight: 300;
    font-style: italic;
}

.quotes p{
    text-align: end;
    font-size: 15px;
    font-weight: bold;
}

.call {
    background-color: white;
    padding: 60px 150px;
}

.banner{
    padding: 40px 50px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.banner .banner-text h3{
    font-size: 15px;
}
.banner .banner-text p {
    font-size: 11px;
}

/* Footer */

.footer{
    background-color:#1F2937;
    color: white;
    padding: 25px 0px;
    font-size: 11px;
    text-align: center;
}

